/* Shared Section */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@font-face {
    font-family: 'Miama';
    src: url('../fonts/miama/Miama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {

    /* center alignment */
    --margin-centered: 0 auto;

    /* colors */
    --primary-color: #E6533C;
    --primary-black: #111111;
    --black-shade50: rgba(255, 255, 255, 0.5);
    --primary-white: #FFFFFF;


    /* font weights */
    --font-normal: 400;
    --font-semi-bold: 600;
    --font-extra-bold: 800;
    --font-black: 900;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    background-color: var(--primary-black);
}

body {
    width: 100%;
    margin: var(--margin-centered);
    color: var(--primary-white);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-normal);
    font-style: normal;
    font-size: 0.8rem;
}

.display-flex {
    display: flex;
}

.btn-primary {
    font-size: .9rem;
    padding: 10px 28px;
    border-radius: 42px;
    background: var(--primary-color);
    font-weight: 600;
    margin-right: 14px;
    color: var(--primary-white);
    border: 1px solid var(--primary-color);
}



/* header section */
header {
    width: 100%;
    background: linear-gradient(180.2deg, #434343 -81.9%, black 100%);
}

.brand {
    color: var(--primary-color);
    font-weight: var(--font-extra-bold);
    font-style: italic;
    font-size: 2.2rem;
}

.nav-links {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1rem;
}

.navbar {
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

.nav-links {
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 12px 4px 4px;
}

#nav-home {
    background-color: var(--primary-color);
    padding: 4px 16px;
    border-radius: 46px;
    font-weight: var(--font-semi-bold);
}

.nav-container,
.banner {
    margin: var(--margin-centered);
    width: 80%;
    max-width: 1152px;
}

.hamburger-icon {
    width: 32px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 5px;
}

.hamburger-icon-container {
    display: none;
}

.content-title {
    font-weight: var(--font-extra-bold);
    line-height: 120%;
    font-size: 3.5rem;
    padding: 28px 0;
    letter-spacing: 0.08rem;
}

#text-shape {
    font-family: 'Miama', sans-serif;
    font-weight: var(--font-normal);
    font-size: 7rem;
}


.banner-content {
    width: 48%;
}

.content-text {
    color: var(--black-shade50);
}


.content-buttons {
    padding-top: 28px;
}

.btn-download {
    background-color: inherit;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 0px;
}


.banner {
    align-items: center;
    justify-content: space-between;
}



.tutorial-badge,
.workout-badge {
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 15px 8px;

}

.banner-image-content {
    position: relative;
    max-height: 580px;
}

.banner-img {
    width: 100%;
    height: auto;
}

.tutorial-badge {
    position: absolute;
    bottom: 357px;
    left: 245px;
    width: 143px;
    height: 88px;

}

#five-hundred-plus {
    font-size: 2.2rem;
    color: var(--primary-white);
    font-weight: var(--font-extra-bold);
    line-height: 50px;
    letter-spacing: .8px;
}

#three-fifty-plus {
    font-size: 1.4rem;
    color: rgb(250, 250, 249);
    ;
    font-weight: var(--font-extra-bold);
    line-height: 30px;
    letter-spacing: 0.4px;

}

#fwv {
    font-size: 0.65rem;
    color: rgba(255, 255, 255, 0.65);
    line-height: 20px;
    letter-spacing: 0.7px;
}

#vt {
    font-size: 0.8rem;
    color: rgba(239, 237, 232, 0.65);
    line-height: 28px;
    letter-spacing: 0.6px;
}



.workout-badge {
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 80px;
    right: 261px;
    width: 155px;
    height: 68px;
}


.workout-badge-circle {
    width: 30px;
    height: 30px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

/* header section responsive */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .hamburger-icon-container {
        display: block;
    }

    .nav-container,
    .banner {
        /* margin: var(--margin-centered); */
        width: 90%;
        /* max-width: 1152px; */
    }

    .banner {
        flex-direction: column;
        /* align-items: flex-start; */
    }
    .banner-content{
        width: 90%;
        align-self: flex-start;
    }

    .tutorial-badge{
        bottom: 450px;
        left: 191px;
    }

    .workout-badge{
        bottom: 245px;
        right: 190px;
    }


}