/* Shared Section */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

    /* center alignment */
    --margin-centered: 0 auto;

    /* colors */
    --primary-color: #E6533C;
    --primary-black: #111111;
    --primary-white: #FFFFFF;

    /* font weights */
    --font-normal: 400;
    --font-semi-bold: 600;
    --font-extra-bold: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    background-color: var(--primary-black);
}

body {
    height: 100%;
    width: 100%;
    margin: var(--margin-centered);
    color: var(--primary-white);

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-normal);
    font-style: normal;
}

.display-flex {
    display: flex;
}



/* header section */
header {
    width: 100%;
    background-color: gray;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
}

.brand {
    color: var(--primary-color);
    font-weight: var(--font-extra-bold);
    font-style: italic;
    font-size: 2.25rem;
}

.nav-links {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-white);
    font-size: 1.125rem;
}

.navbar {
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}

.nav-links {
    gap: 47px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px 12px 4px 4px;
}

#nav-home {
    background-color: var(--primary-color);
    padding: 8px 20px;
    border-radius: 46px;
    font-weight: var(--font-semi-bold);
}

.nav-container {
    margin: var(--margin-centered);
    width: 80%;
    max-width: 1152px;
}

.hamburger-icon{
    width: 32px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 5px;
}

.hamburger-icon-container{
    display: none;
}



/* header section responsive */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }
    .hamburger-icon-container{
        display: block;
    }
}